/*
    Styling for log_in.js
*/
.App {
    text-align: center;
}

/* used for setting the background */
.login-header {
    background-image: url(../../assets/login_background.png);
    background-size: cover;
    background-position: center;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-Repeat: 'no-repeat';
}

.attributions {
   height: 70px;
   background-image: "../../assets/azure.svg";
   background-size: cover;
   background-position: center;
   background-Repeat: 'no-repeat';
}

a:link {
   text-decoration: none;
 }
 
 a:visited {
   text-decoration: none;
 }
 
 a:hover {
   text-decoration: underline;
 }
 
 a:active {
   text-decoration: underline;
 }

.footer {
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100vw;
    margin-top: 36vh;
    margin-bottom: 0px;
}

.powered_by {
    font-size: 20px;
    color: #1DB954;
    align-self: right;
}

/* Used for setting the green bar at the top with the black spotigo text 
    !!! Reuse this for any time you need to paste the header bar and logo !!!
*/
.login-header>h1 {
    color: black;
    background-color: transparent;
    text-align: left;
    top: 0;
    display: flex;
    z-index: 100;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 8px;
    vertical-align: center;
    font-family: sans-serif;
    font-weight: 600;
}

/* Used for setting the large text above the button; first line */
.login-header>h2 {
    color: black;
    font-size: xxx-large;
    margin: 5px 0px 0px 5px;
    font-family: sans-serif;
}

.login-header>h1>h3 {
   color: black;
   margin: 0;
   font-family: sans-serif;
   font-weight: 600;
}

/* Used for setting the small text above button */
.login-header>h4 {
    color: black;
    margin: 10px;
    font-size: x-large;
    font-weight: lighter;
    font-family: sans-serif;
}

/* Used for customizing the button */
.login-button {
    background-color: #1DB954;
    font-size: 24px;
    color: whitesmoke;
    font-weight: bold;
    padding: 5px 35px;
    border-radius: 32px;
    border: 5px solid #1DB954;
    text-transform: uppercase;
    align-self: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition-duration: .3s;
}

.login-button:hover {
   background-color: transparent;
   color: black;
}

/* Used for customizing the `continue without login` link */
.continue-wo-login-link {
    color: gray;
    margin-top: 20px;
}
