/*
    Styling for playlist_generator.js
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800");

::placeholder {
    font-family: 'Open Sans';
    color: rgba(225, 225, 225, 0.298);
    font-size: 27px;
    font-weight: 400;
    font-style: normal;
}

input[type=text]{
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
}

textarea{
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
}

/* Styling */
.opensans-bold-white-45px {
    color: rgba(255, 255, 255, 1);
    max-height: 100vh;
    font-family: 'Open Sans';
    font-size: 45px;
    font-weight: 700;
    font-style: normal;
}

.opensans-normal-white-27px {
    color: rgba(225, 225, 225, 0.298);
    font-family: "Open Sans";
    font-size: 27px;
    font-weight: 400;
    font-style: normal;
}

.playlist-generator {
    align-items: flex-start;
    background: linear-gradient(180deg, rgb(49.94,
    49.94, 49.94) 0%, rgb(10.63, 10.63, 10.63) 100%);
    background-color: rgba(255, 255, 255, 1);
    border: 1px none;
    display: flex;
    max-height: 100vh;
    min-width: 100vw;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 53px;
    margin-top: 101px;
    min-height: 876px;
    width: 604px;
    z-index: 1;
}

.description {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 42px;
    min-height: 98px;
    width: 602px;
}

.rectangle-13-2 {
    background-color:  rgba(255, 255, 255, 0.18);
    border: 1px none;
    box-shadow: inset 4px 4px 12px 12px #00000040;
    height: 100px;
    top: 60px;
    width: 400px;
    resize: none;
}


.description-1 {
    letter-spacing: 0;
    line-height: normal;
    font-size: 35px;
    min-height: 54px;
    width: 240px;
}

.optional-1 {
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 68px;
    width: 122px;
}

.title-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 98px;
    width: 602px;
}

.rectangle-13 {
    background-color: rgba(255, 255, 255, 0.18);
    border: 1px none;
    box-shadow: inset 4px 4px 12px 12px #00000040;
    height: 30px;
    margin-left: 0;
    width: 400px;
}

.title-2 {
    letter-spacing: 0;
    line-height: normal;
    font-size: 35px;
    min-height: 54px;
    width: 100px;
}

.genre-one {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 42px;
    min-height: 98px;
    width: 602px;
}

.genreText {
    background-color: rgba(255, 255, 255, 0.18);
    border: 1px none;
    box-shadow: inset 4px 4px 12px 12px #00000040;
    height: 39px;
    width: 600px;
    display: flex;
}

.genre {
    letter-spacing: 0;
    line-height: normal;
    min-height: 54px;
    width: 240px;
}

.create-button {
    align-items: center;
    background-color: rgba(29, 185, 84, 1);
    border: #1DB954 5px solid;
    border-radius: 100px;
    display: flex;
    height: 46px;
    justify-content: center;
    margin-top: 58px;
    min-width: 171px;
    padding: 2px 38px;
    color: rgba(0, 0, 0, 1);
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    width: 84px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.create-button:hover{
    transition-duration: 0.2s;
    background-color: transparent;
    color: whitesmoke;
}

.flex-row {
    align-items: flex-start;
    display: flex;
    gap: 55px;
    height: 98px;
    margin-top: 44px;
    min-width: 604px;
}

.length {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 98px;
    width: 414px;
}

.length-1 {
    letter-spacing: 0;
    line-height: normal;
    min-height: 54px;
    width: 157px;
}

.overlap-group2 {
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.18);
    box-shadow: inset 4px 4px 12px 12px #00000040;
    display: flex;
    height: 39px;
    min-width: 390px;
    padding: 0 12px;
}

.optional {
    letter-spacing: 0;
    line-height: normal;
    min-height: 32px;
    width: 122px;
}

.bpm {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    gap: 6px;
    min-height: 98px;
    width: 135px;
}

.rectangle-13-1 {
    background-color: rgba(255, 255, 255, 0.18);
    border: 1px none;
    box-shadow: inset 4px 4px 12px 12px #00000040;
    height: 30px;
    width: 100px;
}

.bpm-1 {
    letter-spacing: 0;
    line-height: normal;
    font-size: 35px;
    min-height: 54px;
    width: 101px;
}

.genre-two {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 42px;
    min-height: 98px;
    width: 602px;
}

.overlap-group1 {
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.18);
    box-shadow: inset 4px 4px 12px 12px #00000040;
    display: flex;
    height: 39px;
    min-width: 600px;
}

.image-upload>input {
    display:none;
}

.album-cover-pg {
    width: 280px;
    height: 280px;
    background: url(../../assets/defaultphoto.png);
    border: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap !important;
    z-index: 1 !important;
    display: inline-block !important;
    clear: none !important;
    padding: none none;
}

.album-cover-pg:hover{
    width: 280px;
    height: 280px;
    background: url(../../assets/choosephoto.png);
    border: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap !important;
    z-index: 1 !important;
    display: inline-block !important;
    clear: none !important;
    padding: none none;
}

.playlist-art {
    align-items: center;
    border: 1px none;
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 160px;
    height: 350px;
    width: 350px;
    z-index: 2;
}

.text-1 {
    color: rgba(0, 0, 0, 1);
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0;
    margin-left: 1px;
    min-height: 109px;
}

.top-bar {
   color: black;
   background-color: #1DB954;
   text-align: left;
   top: 0;
   display: inline-flex;
   flex: stretch;
   z-index: 50;
   margin-top: 0px;
   margin-bottom: 0px;
   padding-top: 8px;
   padding-bottom: 0px;
   padding-left: 8px;
   padding-right: 100vw;
   position: fixed;
   font-family: sans-serif;
   vertical-align: left;
   align-items: left;
   font-weight: 600;
}

.search {
    align-items: flex-end;
    align-self: flex-end;
    border: 1px none;
    display: flex;
    justify-content: flex-end;
    margin-left: 635px;
    min-width: 515px;
}

.search-1 {
    height: 46px;
    margin-bottom: -0.12px;
    width: 46px;
}

.title {
    color: transparent;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 12px;
    margin-top: -9px;
    min-height: 75px;
    width: 144px;
}

.span0 {
    color:rgba(0, 0, 0, 1);
}

.logo {
    align-items: flex-start;
    align-self: center;
    border: 1px none;
    display: flex;
    justify-content: flex-end;
    min-width: 46px;
    padding: 0 2.2px;
}

.subtract {
    height: 42px;
    width: 42px;
}

.user {
    align-items: flex-end;
    border: 1px none;
    cursor: pointer;
    display: flex;
    height: 52px;
    margin-left: 6px;
    margin-top: -4px;
    min-width: 43px;
    padding: 8px 4px;
}

.vector {
    height: 35px;
    width: 34px;
}