table {
    border-collapse: collapse;
    max-width: 70vw !important;
    max-height: 50vh;
}

td {
    padding: 0px 10px;
    text-emphasis-color: gray;
}

th {
    background: #eee;
}

.track-image {
    margin-left: 10px;
    height: 60px;
    width: 60px;
}

.song-name {
    margin-top: 10px;
    color: white;
    font-size: 22px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 35vw;
    max-height: 60px;
    vertical-align: text-top;
}

.artist {
    margin-top: 9px;
    color: gray;
    font-size: 18px;
    white-space: nowrap;
}

.album-and-length {
    color: gray;
    font-size: 18px;
    white-space: nowrap;
    overflow-x: hidden;
    width: 25vw;
    max-width: 25vw;
    max-height: 60px
}

.length {
    color: gray;
    font-size: 18px;
    overflow-x: hidden;
    vertical-align: middle !important;
    max-width: 25vw;
    max-height: 60px
}